.profile__name {
	margin: 0;
	align-self: flex-start;
	font-size: 42px;
	line-height: 48px;
	font-weight: 500;
}

@media screen and (max-width: 767px) {
	.profile__name {

	}
}

@media screen and (max-width: 400px) {
	.profile__name {
		align-self: center;
		font-size: 27px;
	}
}