.footer__name {
  color: #545454;
  padding: 66px 0 60px 0;
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

@media screen and (max-width: 920px) {
  .footer__name {
    margin-left: 19px;
  }
}

@media screen and (max-width: 598px) {
  .footer__name {
    font-size: 14px;
    line-height: 17px;
    padding-top: 48px;
    padding-bottom: 36px;
  }
}
